video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.top_page {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
    object-fit: contain;
}

.top_page > h1 {
    color: white;
    font-size: 130px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 950px;
}

.top_page > p {
    color: white;
    font-size: 30px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: 1080px;
}

.rpi_logo {
    height: 25%;
    margin-top: -180px;
    margin-left: auto;
    margin-right: 500px;
}

.ibm_logo {
    height: 25%;
    margin-top: -220px;
    margin-left: auto;
}

.middle_page {
    background-color: #e5e8ed;
}

.middle_page > .survey_cards {
    margin-top: 0px;
} 


.bottom_page {
    background-color: #e5e8ed;
}

/* @media screen and (max-width: 960px) {
    .top_page > h1 {
        margin-top: -300px;
        font-size: 90px;
        margin-left: auto;
        margin-right: 200px;
    }

    .top_page > p {
        margin-top: -5px;
        font-size: 20px;
        margin-left: auto;
        margin-right: 293px;
    }

    .rpi_logo {
        height: 20%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: 610px;
    }

    .ibm_logo {
        height: 20%;
        margin-top: -170px;
        margin-left: auto;
        margin-right: 220px;
    }
}

@media screen and (max-width: 768px) {
    .top_page > h1 {
        font-size: 50px;
        margin-top: -150px;
        margin-left: auto;
        margin-right: 150px;
    }

    .top_page > p {
        font-size: 15px;
        margin-left: auto;
        margin-right: 160px;
    }

    .rpi_logo {
        height: 20%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: 340px;
    }

    .ibm_logo {
        height: 18%;
        margin-top: -160px;
        margin-left: auto;
        margin-right: 40px;
    }
} */